<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>

				<!-- https://github.com/logfellow/logstash-logback-encoder#loggingevent-fields -->

				<!-- We already have the "level" string name, we don't need this integer. -->
				<levelValue>[ignore]</levelValue>

				<!-- Don't put an "@" symbol in front of the timestamp key. -->
				<timestamp>timestamp</timestamp>

				<!-- We don't need to know the logstash version number. -->
				<version>[ignore]</version>

			</fieldNames>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
