:root {

	--font-family: system-ui, -apple-system, sans-serif, 'Open Sans';

	--content-width-min: 300px;
	--content-width-max: 640px;

	--nav-avatar-image-size: 64px;
}

[data-theme=dark] {

	--background-color: #242424;

	--primary: hsl(38, 98%, 54%);
	--primary-hover: hsl(38, 98%, 44%);
	--primary-focus: hsl(38, 98%, 34%);

	--secondary: hsl(191, 100%, 50%);
	--secondary-hover: hsl(191, 100%, 40%);
	--secondary-focus: hsl(191, 100%, 30%);

	--contrast: hsl(298, 100%, 82%);
	--contrast-hover: hsl(298, 100%, 72%);
	--contrast-focus: hsl(298, 100%, 62%);

	--muted-border-color: #353535;

}

body {

	border-color: var(--primary);
	border-style: solid;
	border-width: 5px 0 4px;

	border-image-slice: 1;
	border-image-source: linear-gradient(
		to right,
		var(--secondary) 5%,
		var(--primary) 5%,
		var(--primary) 95%,
		var(--contrast) 95%
	);
}

/*
Background container
*/

body, html {
	padding: 0;
}

html {
	min-width: var(--content-width-min);
}

/*
Content container
*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: var(--spacing);
}

body > header,
body > main,
body > footer {
	margin: 0 auto;
	max-width: var(--content-width-max);
	padding: 0;
	width: 100%;
}

body > footer {
	margin-top: auto;
}

/*
Content separation
*/

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 var(--spacing);
}

hr {
	border-width: 2px;
	margin: var(--spacing) 0;
}

table input, table select, table button {
	margin-bottom: 0 !important;
}

/*
Images
*/

header img {
	max-width: 50%;
}

.avatar {
	border-radius: calc(var(--nav-avatar-image-size) / 2);
	margin-right: var(--spacing);
	width: var(--nav-avatar-image-size);
}

/*
Positioning
*/

.text-align-center {
	text-align: center;
}

.width-auto {
	display: inline-block;
	width: auto;
}
