<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

	<body>
		<footer th:fragment="footer">

			<hr/>

			<p>
				This is a limited beta release!
				Please send all comments, questions, and concerns to m0b1.
			</p>

			<form method="post" th:action="@{/logout}" th:if="${loggedIn}">
				<button type="submit" class="contrast outline width-auto">

					<img
						alt="Discord avatar"
						class="avatar margin-right"
						th:src="${avatarImageUrl}"
						height="64px"
						width="64px"
					/>

					Log Out

				</button>
			</form>

		</footer>
	</body>

</html>
