<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

	<head th:fragment="head(title)">

		<meta charset="utf-8"/>
		<meta name="description" content="A workout tracker for the Mighty Gym community."/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title th:replace="${title}">Mighty Metrics</title>

		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">

		<link rel="stylesheet" th:href="@{/webjars/picocss__pico/1.5.10/css/pico.css}"/>
		<link rel="stylesheet" th:href="@{/mighty-metrics.css}"/>

	</head>

</html>
