<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

	<body>
		<header class="text-align-center" th:fragment="header">

			<img
				alt="The Mighty Gym logo"
				th:src="@{/logo.png}"
				width="640px"
				height="258px"
			/>

			<h1>
				<a href="/">Mighty Metrics</a>
			</h1>

			<h2>
				Score tracking for <a href="https://themightygym.com">The Mighty Gym</a>
			</h2>

			<form method="post" th:action="@{/logout}" th:if="${loggedIn}">
				<button type="submit" class="contrast outline">

					<img
						alt="Discord avatar"
						class="avatar margin-right"
						th:src="${avatarImageUrl}"
						height="64px"
						width="64px"
					/>

					Log Out

				</button>
			</form>

			<hr/>

		</header>
	</body>

</html>
