<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

	<body>
		<nav class="text-align-center" th:fragment="nav">

			<div th:unless="${loggedIn}">
				<h3>
					To begin, please <a href="/oauth2/authorization/discord">log in via Discord</a>.
				</h3>
			</div>

			<div class="flex-align-items-center" th:if="${loggedIn}">

				<img
					alt="Discord avatar"
					class="margin-right"
					th:src="${avatarImageUrl}"
					width="64px"
					style="border-radius: 32px"
				/>

				<form method="post" th:action="@{/logout}">
					Stay mighty, <th:block th:text="${name}"/>! When you're ready to take a break,
					<button type="submit">log out</button>.
				</form>

			</div>

			<hr/>

		</nav>
	</body>

</html>
