<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">

	<head>
		<title>Mighty Metrics - Core</title>
	</head>

	<body>
		<main>

			<h3>
				Return to view progress on your <a href="/">&lArr; profile</a>
			</h3>

			<h4 th:if="${scorecard.uuid != null}">
				Or create a <a href="/core">new card &rArr;</a>
			</h4>

			<hr>

			<form
				enctype="multipart/form-data"
				th:method="post"
				th:action="@{/core}"
				th:object="${scorecard}"
			>

				<input type="hidden" th:field="*{uuid}"/>

				<div th:if="${#fields.hasAnyErrors()}">

					<ul>
						<li th:each="error : ${#fields.allErrors()}" th:text="${error}"/>
					</ul>

					<hr>

				</div>

				<div th:hidden="${scorecard.imageTitle != null}">

					<h4>
						<label for="file" id="fileLabel">Upload scorecard image for scanning</label>
					</h4>
					<input
						aria-busy="true"
						accept="image/jpeg,image/png"
						id="file"
						name="file"
						type="file"
					>

					<input
						id="image"
						name="image"
						type="submit"
						value="Upload"
					/>

				</div>

				<figure th:if="${scorecard.imageTitle != null}">
					<img
						th:alt="${scorecard.imageTitle}"
						th:src="'/core/' + ${scorecard.uuid} + '/scorecard'"
					>
				</figure>

				<hr>

				<div class="grid">

					<div>
						<label for="coach">Coach</label>
						<select
							id="coach"
							th:field="*{idCoach}"
							th:attr="aria-invalid=${#fields.hasErrors('idCoach') ? 'true' : ''}"
						>
							<option value=""></option>
							<option th:each="option : ${coaches}" th:value="${option.id}" th:text="${option.name}">
						</select>
					</div>

					<div></div>

				</div>

				<div class="grid">

					<div>
						<label for="date">Date</label>
						<input
							id="date"
							type="date"
							th:field="*{date}"
							th:attr="aria-invalid=${#fields.hasErrors('date') ? 'true' : ''}"
						>
					</div>

					<div>
						<label for="time">Time</label>
						<input
							id="time"
							type="time"
							th:field="*{time}"
							th:attr="aria-invalid=${#fields.hasErrors('time') ? 'true' : ''}"
						>
					</div>

				</div>

				<div class="grid">

					<div>
						<label for="groupScore">Group Score</label>
						<select
							id="groupScore"
							th:field="*{idScoreGroup}"
							th:attr="aria-invalid=${#fields.hasErrors('idScoreGroup') ? 'true' : ''}"
						>
							<option value=""></option>
							<option th:each="option : ${scores}" th:value="${option.id}" th:text="${option.value}">
						</select>
					</div>

					<div>
						<label for="personalScore">Personal Score</label>
						<select
							id="personalScore"
							th:field="*{idScorePersonal}"
							th:attr="aria-invalid=${#fields.hasErrors('idScorePersonal') ? 'true' : ''}"
						>
							<option value=""></option>
							<option th:each="option : ${scores}" th:value="${option.id}" th:text="${option.value}">
						</select>
					</div>

				</div>

				<div class="grid">

					<div>
						<label for="workoutIntensity">Workout Intensity</label>
						<input
							id="workoutIntensity"
							type="number"
							min="0"
							max="100"
							th:field="*{workoutIntensity}"
							th:attr="aria-invalid=${#fields.hasErrors('workoutIntensity') ? 'true' : ''}"
						>
					</div>

					<div>
						<label for="mighteriumCollected">Mighterium Collected</label>
						<input
							id="mighteriumCollected"
							type="number"
							min="0"
							max="100000"
							th:field="*{mighteriumCollected}"
							th:attr="aria-invalid=${#fields.hasErrors('mighteriumCollected') ? 'true' : ''}"
						>
					</div>

				</div>

				<div th:if="${ ! scorecard.exercises.isEmpty()}">

					<datalist id="exercises">
						<option>Arm Circles</option>
						<option>Bike Crunches</option>
						<option>Boat Pose</option>
						<option>Burpees</option>
						<option>Child Pose</option>
						<option>Climbing</option>
						<option>Cobra</option>
						<option>DDR Lunges</option>
						<option>Deadbugs</option>
						<option>Digging</option>
						<option>Freestyle Workout</option>
						<option>Gliding</option>
						<option>Glute Bridge</option>
						<option>Gym Destruction</option>
						<option>High Plank</option>
						<option>Hold Position</option>
						<option>Hold Squats</option>
						<option>Jump Squats</option>
						<option>Jumping Jacks</option>
						<option>Kickouts</option>
						<option>Leg Climbers</option>
						<option>Low Plank</option>
						<option>Mason Twist</option>
						<option>Mountain Climbers</option>
						<option>Ninja Hold Squats</option>
						<option>Plank</option>
						<option>Plank To Push Ups</option>
						<option>Punching</option>
						<option>Push Ups</option>
						<option>Running</option>
						<option>Shoulder Taps</option>
						<option>Side Plank</option>
						<option>Speed Squats</option>
						<option>Star Raises</option>
						<option>Swimming</option>
						<option>Warrior I</option>
						<option>Warrior II</option>
						<option>[Master] Burpees</option>
						<option>[Master] Hold Squat</option>
						<option>[Master] Mason Twist</option>
						<option>[Master] Mountain Climbers</option>
						<option>[Master] Push Ups</option>
					</datalist>

					<table role="grid">

						<thead>
						<tr>
							<th>
								<label for="exercise">Exercise</label>
							</th>
							<th>
								<label for="exerciseScore">Score</label>
							</th>
							<th>
								Remove
							</th>
						</tr>
						</thead>

						<tbody>

						<tr th:each="exercise, stat : *{exercises}">
							<td>
								<input
									id="exercise"
									list="exercises"
									name="exercise[]"
									type="text"
									th:field="*{exercises[__${stat.index}__].exercise}"
									th:attr="aria-invalid=${#fields.hasErrors('exercises[__${stat.index}__].exercise') ? 'true' : ''}"
								>
							</td>
							<td>
								<select
									id="exerciseScore"
									name="exerciseScore[]"
									th:field="*{exercises[__${stat.index}__].idScore}"
									th:attr="aria-invalid=${#fields.hasErrors('exercises[__${stat.index}__].idScore') ? 'true' : ''}"
								>
									<option value=""></option>
									<option th:each="option : ${scores}" th:value="${option.id}" th:text="${option.value}">
								</select>
							</td>
							<td>
								<button
									class="contrast outline"
									name="remove"
									type="submit"
									th:value="${stat.index}"
								>
									-
								</button>
							</td>
						</tr>

						</tbody>

					</table>

				</div>

				<button
					class="secondary"
					type="submit"
					name="add"
				>
					Add Exercise
				</button>

				<button type="submit">
					Save
				</button>

				<button
					th:if="${scorecard.uuid != null}"
					class="contrast"
					type="submit"
					name="delete"
				>
					Delete
				</button>
			</form>


		</main>
	</body>

</html>
