<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">

	<head>
		<title>Mighty Metrics - Home</title>
	</head>

	<body>
		<main>

			<div th:unless="${loggedIn}">
				<h3 class="text-align-center">
					<a href="/oauth2/authorization/discord">Log in via Discord</a> to begin.
				</h3>
			</div>

			<div th:if="${loggedIn}">
				<img alt="Discord avatar" th:src="${avatarImageUrl}"/>
				<p>
					Stay mighty, <span th:text="${name}"/>!
				</p>
				<form method="post" th:action="@{/logout}">
					<button type="submit">Log out</button>
				</form>
			</div>

		</main>
	</body>

</html>
