<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">

	<head>
		<title>Mighty Metrics - Home</title>
	</head>

	<body>
		<main>

			<h3>
				To begin, please <a href="/oauth2/authorization/discord">log in via Discord</a>.
			</h3>

			<hr>

			<h4>About</h4>
			<ul>
				<li>A project for the community, by the community</li>
				<li>Upload scorecards for the reactor core to process</li>
				<li>View statistics and achievements with more scorecards</li>
			</ul>

			<h4>Statistics</h4>
			<ul>
				<li>Total workouts</li>
				<li>Average score and intensity</li>
				<li>Number of S ranks earned</li>
				<li>Total mighterium collected</li>
				<li>And more to come ...</li>
			</ul>

		</main>
	</body>

</html>
