<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">

	<head>
		<title th:text="'Mighty Metrics - ' + ${name}"/>
	</head>

	<body>
		<main>

			<h3>
				Save new scorecards to the <a href="/core">Core &rArr;</a>
			</h3>

			<hr>

			<div>

				<h4>
					Core Analysis Results
				</h4>

				<ul>

					<li th:if="${statistics.isEmpty()}">
						No statistics yet, certain scorecards will unlock more
					</li>

					<li
						th:each="statistic : *{statistics}"
						th:text="${statistic}"
					/>
				</ul>

			</div>

			<hr>

			<div>

				<h5>
					Scorecard history
				</h5>

				<table role="grid">

					<thead>
						<tr>
							<th>#</th>
							<th>Score</th>
							<th>Date</th>
							<th>Details</th>
						</tr>
					</thead>

					<tbody>

						<tr th:if="${scorecards.isEmpty()}">
							<td colspan="4">
								Save some scorecards for history to appear
							</td>
						</tr>

						<tr th:each="scorecard, stat : *{scorecards}">
							<td th:text="${stat.size - stat.count + 1}"></td>
							<td>
								<span
									th:if="${scorecard.idScorePersonal != null}"
									th:text="*{scores[__${scorecard.idScorePersonal}__ - 1].value}"
									th:remove="tag"
								/>
							</td>
							<td th:text="${#temporals.format(scorecard.date, 'YYYY-MM-dd')}"/>
							<td>
								<a th:href="'/core/' + ${scorecard.uuid}">&rArr;</a>
							</td>
						</tr>
					</tbody>

				</table>

			</div>

		</main>
	</body>

</html>
